* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.bg,
footer,
table {
    background-color: #F2E3D5;
}

/*Navigation*/
nav #navbarNav a {
    color: rgb(56, 54, 54);
    font-weight: bolder;
    font-size: 1rem;
}

nav .navbar-toggler {
    color: #BF048D !important;
}

nav .active {
    background-color: #BF048D;
    color: rgba(255, 255, 255, 0.959) !important;
    border-radius: 500px;
}

nav .nav-item a:hover {
    color: black !important;
}

nav .navbar-toggler {
    border: none !important;
}

nav .navbar-toggler:focus {
    box-shadow: none !important;
}

/*Header*/

header .banner h1 {
    text-align: center;
    font-size: 5rem;
    text-shadow: 3px 6px 8px #BF048D;
    padding: 2rem;
    background-color: #F2E3D5;
    color: #BF048D !important;
    font-weight: bolder;
}

header .banner {
    display: block;
    justify-content: center;
    align-items: center;
}


/*Main*/

main .main-container {
    max-width: 1000px;
    margin: 0 auto;
}

main #search {
    border-radius: 100px;
    border: 1px solid #BF048D;
}

main .btn,
.btn-event {
    border: none !important;
    background-color: #BF048D !important;
    box-shadow: 1px 2px rgb(43, 40, 40);
}

main .btn:hover,
.btn-event:hover {
    background-color: #F2E3D5 !important;
    color: black !important;
    font-weight: bolder !important;
}

/*Tabla*/

main th{
    border: 3px solid #BF048D;
    font-size: 18px;
    color: #BF048D;
    background-color: #BF048D;
    text-align: center;
    padding: 50px;
}

main td {
    border: 1px solid #BF048D;
    text-align: center;
}

main .border{
    text-align: center;
    font-weight: bolder;
    color: #BF048D;
}
form label {
    font-weight: bolder;
    color: #BF048D;
}

form .form-control {
    border: 1px solid #BF048D;
}

/*CARDS*/

.card {
    margin: 20px;
}

.card-img-top {
    width: 200px;
    height: 200px;
    object-fit: cover;
}

/*Footer*/
footer {
    min-height: 5vh !important;
}

.card-title {
    color: #F2E3D5 !important;
    background-color: #BF048D;
    font-size: 24px;
    font-weight: bolder;
    text-align: center;
    border-radius: 50px;
}

.details {
    margin-top: 2rem;
}

.detail-card{
    background-color: #F2E3D5;
    border-radius: 10px;
}

.conCard {
    min-height: 90vh;
}

#cardimg {
    object-fit: cover;
    min-height: 70vh;
    box-shadow: 1px 1px 20px #BF048D;
}

.card-body h4 {
    color: #BF048D;
    font-weight: bolder;
}

.text-muted {
    font-weight: bolder !important;
}

.text-muted {
    font-size: 20px;
}

.btn-event {
    padding: 10px;
    text-decoration: none;
    color: #F2E3D5;
    font-weight: bold;
    border-radius: 100px !important;
    font-size: 15px;
}

.card-text {
    margin-top: 20px;
}

.card-text-date {
    font-size: 10px !important;
    text-align: right;
}

.card-container h2 {
    padding-bottom: 25vh;
    font-weight: bolder;
    color: #BF048D;
}


/*Media Queries*/

@media only screen and (max-width: 1000px) {

.nav-item a{
    text-align: center;
}
.banner h1{
    font-size: 30px!important;
}
.card-title{
    font-size: 15px!important;
}
.btn-event{
    padding: 2px!important;
    font-size: 10px;
}
.card-text, .card-text-date, .text-muted{
    font-size: 10px;
}
}
